@charset 'utf-8';
:root {
  --primary: #670892;
  --secondary: #789543;

}

html, body {
  margin: 0;

}

.home-nav {
  background-color: var(--primary);
}
.home-nav-link {
  padding: 10px;
  color: white;
  text-decoration: none;

}