@import './defaults.css';

.art {
  display: grid;
}
.art table {
  border-collapse: collapse;
  border: 1px solid red;
}
.art td {
  color: var(--text1);
}

.resume {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
