@import './defaults.css';

.portfolio {
  overflow: hidden;
}

.scroll-container {
  display: flex;
  max-width: 90vw;
  padding: 20px;
  max-height: 60vh;

  overflow-x: auto;
  overflow-y: hidden;

  background-color: var(--background4);
  border-radius: 10px;
  gap: 10px;
}

.scroll-item {
  border-radius: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: auto;
  background-color: var(--background5);
}

.scroll-item:hover {
  opacity: 0.85;
}

.scroll-item img {
  max-height: 60vh;
  max-width: 90vw;  /* limit width in case we prioritize viewing the whole thing over aesthetics */
  object-fit: contain;
  display: block;
  width: auto;
}

/* arrows */
.scroll-arrow {
  color: var(--accent1);
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

.scroll-arrow:hover {
  color: var(--accent2);
}

.arrow-row {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
  max-width: 90%;
  align-items: center;
  margin: 8px auto;
}

/* CONTAINER TEXT ON HOVER STYLING */
.img-container {
  position: relative;
  /* possible need for height/width constraints, but should be covered by scroll-item 
   * lowkey might not be necessary at all ideally */
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  /* hopefully doesn't fuck up and settings from scroll-item 
   * this might not be necessary at all tbh */
}

.overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--text1);
  background-color: var(--background6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.img-container:hover .overlay-text {
  opacity: 1;
}