@charset 'utf-8';

html, body {
  margin: 0;
}

.lightmode {
  --primary1: #670892;
  --primary2: #670892;
  --secondary1: #789543;
  --secondary2: #789543;
  --secondary3: #789543;
  --neutral1: #aaaace;
  --neutral2: #a7c6ce;
  --neutral3: #ad9eac;
  --accent1: #909090;
  --accent2: #ef9040;
  --accent3: #4508fe;
  --background1: #ffffff;
  --background2: #dfcece;
  --background3: #f5d6d6;
  --text1: #000000;
  --text2: #141230;
  --text3: #261439;
}

.darkmode {
  --primary1: #18165e;
  --primary2: #670892;
  --secondary1: #789543;
  --secondary2: #789543;
  --secondary3: #789543;
  --neutral1: #453d61;
  --neutral2: #40575e;
  --neutral3: #5a3953;
  --accent1: #909090;
  --accent2: #ef9040;
  --accent3: #4508fe;
  --background1: #282131;
  --background2: #343434;
  --background3: #252525;
  --text1: #ffffff;
  --text2: #c7c4f7;
  --text3: #a0bfd8;
}