@charset 'utf-8';

:root {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lightmode {
	--accent1: #064646;
	--accent2: #1a8080;
	--accent3: #279baa;
	--background1: #f8f8f8;
	--background2: #b0a0db;
	--background3: #9b8ccc;
	--background4: #2d214d;
	--background5: #462f70;
	--text1: #000000;		/* regular */
	--text2: #3e3b6e;		/* headers */
	--text3: #5c4188;		/* color */
	--text4: #c5b9d1;		/* inverted */
}

.darkmode {
	--accent1: #aaaace;
	--accent2: #9273b6;
	--accent3: #543f7a;
	--background1: #073c3f;
	--background2: #101010;
	--background3: #092525;
	--background4: #8bc5c7;
	--background5: #5fa0a5;
	--text1: #ffffff;		/* regular */
	--text2: #c4eff7;		/* headers */
	--text3: #7db8cf;		/* color */
	--text4: #1c2227;		/* inverted */
}